# Node.js dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage
coverage/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
.DS_Store